.main-input {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 0;
  width: 80%;
}

.sharpn-btn {
  font-family: "Poppins";
  width: 150px;
  margin-right: 10px;
  padding: 9px;
  border: none;
  background: #17c347;
  transition: 0.4s;
  opacity: 1;
}

.sharpn-btn:hover {
  opacity: 0.8;
  border: none;
  background: #17c347;
}
